---
import Banner from './Banner.astro';
import imageOne from '../../public/1.png'
import imageTwo from '../../public/2.png'
import imageThree from '../../public/3.png'
import imageFour from '../../public/4.png'
import imageFive from '../../public/5.png'
import imageSix from '../../public/6.png'
import imageSeven from '../../public/7.png'
import imageEight from '../../public/8.png'
import imageNine from '../../public/9.png'
import imageTen from '../../public/10.png'
import imageEleven from '../../public/11.png'
import imageTwelve from '../../public/12.png'
import { Image } from 'astro:assets';

interface Props {
  withoutImage?: boolean
}

const { withoutImage } = Astro.props

---
<script>
  const observer = new IntersectionObserver((entries) => {
 entries.forEach((entry) => {
    if(entry.isIntersecting) {
       entry.target.classList.add('show');
       
    }
 });
});
 
const hiddenElements = document.querySelectorAll('.hide');
hiddenElements.forEach((item) => observer.observe(item));

//loading

window.addEventListener("load", () => {
const loader = document.querySelector(".loader") as HTMLElement;
loader.classList.add("loader-hidden");

loader.addEventListener("transitionend", () => {
  if(loader){
   
    document.body.removeChild(loader);
  
}
});
});


</script>

<Banner/>

<h2 class="pt-10 pl-36 font-bold text-3xl text-white">Components</h2>

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-36 py-10">
  <div class="grid gap-4">
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] object-cover w-full rounded-lg"
        src={imageOne}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">New Icons</h3>
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] object-cover w-full rounded-lg"
        src={imageTwo}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">New Dashboard</h3>
      
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] object-cover w-full rounded-lg"
        src={imageThree}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">New Colors</h3>
      
    </div>
  </div>
  <div class="grid gap-4">
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[85%] object-cover w-full rounded-lg"
        src={imageFour}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">New Colors</h3>
      
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[85%] object-cover w-full rounded-lg"
        src={imageFive}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">New Forms</h3>
      
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[60%] object-cover w-full rounded-lg"
        src={imageSix}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">Best Place to Work</h3>
       
    </div>
  </div>

  <div class="grid gap-4">
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] object-cover  w-full rounded-lg"
        src={imageSeven}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">Components</h3>
    </div>
    
    {
      !withoutImage && (
        <div>
          <div transition:name="wrapper">
            <a href="/details">
              <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
              <Image
                class="h-[50%] object-cover w-full rounded-lg"
                src={imageNine}
                alt=""
              />
              <h3 class="text-white font-bold text-2xl px-4 py-3">Components</h3>
                
            </div>
            </a>
          </div>
        </div>
      )
    }
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
    <Image
      class="h-[80%] object-cover w-full rounded-lg"
      src={imageEight}
      alt=""
    />
    <h3 class="text-white font-bold text-2xl px-4 py-3">Support</h3>

  </div>
  </div>

  <div class="grid gap-4">
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] w-full rounded-lg"
        src={imageTen}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">Patterns</h3>
       
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] w-full rounded-lg"
        src={imageEleven}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">Our Brand</h3>
       
    </div>
    <div class="bg-[#2D2F31] rounded-lg flex flex-col hide">
      <Image
        class="h-[80%] w-full rounded-lg"
        src={imageTwelve}
        alt=""
      />
      <h3 class="text-white font-bold text-2xl px-4 py-3">Unique Design</h3>
       
    </div>
  </div>
</div>

<style>
  .hide{
    opacity: 0;
    transition: all 1s;
    filter: blur(1px);
}

.show{
    opacity: 1;
    filter: blur(0);
}
</style>